@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap%27);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #020202;
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  font-weight: 900;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
@media (max-width: 900px) {
  .container {
    padding: 0px 12px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}
.navbar .logo {
  padding: 20px 0px;
}
@media (max-width: 475px) {
  .navbar .logo {
    padding: 28px 10px;
  }
}
.navbar .logo a {
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png");
  width: 245px;
  height: 40px;
  text-indent: 101%; /*首行縮排*/
  overflow: hidden; /*自動隱藏超出的文字或圖片*/
  white-space: nowrap;
  background-size: 100% 100%;
}
@media (max-width: 475px) {
  .navbar .logo a {
    width: 147px;
    height: 24px;
  }
}
.navbar .menu {
  display: flex;
  padding: 28px 0px;
}
.navbar .menu li {
  margin-left: 20px;
}
@media (max-width: 475px) {
  .navbar .menu li {
    display: none;
  }
}
.navbar .menu span {
  display: none;
}
@media (max-width: 475px) {
  .navbar .menu span {
    display: block;
    padding-right: 14px;
  }
}

.slogan {
  font-size: 120px;
  line-height: 120%;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .slogan {
    font-size: 72px;
  }
}
@media (max-width: 475px) {
  .slogan {
    font-size: 48px;
  }
}

.start {
  margin-bottom: 100px;
}
.start button {
  cursor: pointer;
  padding: 20px 40px;
  color: #fff;
  background: #000;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 16px;
}
.start button:hover {
  background-color: #202020;
}
.start button:active {
  background-color: #000;
}

.arrow {
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  margin-bottom: 160px;
}
@media (max-width: 475px) {
  .arrow {
    margin-bottom: 120px;
  }
}
.arrow img {
  display: block;
  visibility: hidden;
}
.arrow img:nth-child(3) {
  animation: slide-up 4s ease-in-out infinite;
}
.arrow img:nth-child(2) {
  animation: slide-up 4s ease-in-out 0.2s infinite;
  animation-delay: 0.2s;
  /* 延遲 0.2 秒開始動畫 */
}
.arrow img:nth-child(1) {
  animation: slide-up 4s ease-in-out 0.4s infinite;
  animation-delay: 0.4s;
  /* 延遲 0.4 秒開始動畫 */
}
@media (max-width: 475px) {
  .arrow img {
    width: 117px;
    height: auto;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  30% {
    transform: translateY(0%);
    visibility: visible;
  }
  60% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.service {
  margin-bottom: 160px;
}
.service-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  .service-content {
    flex-direction: column;
  }
}
.service p {
  width: 33%;
  font-size: 32px;
  line-height: 120%;
}
@media (max-width: 900px) {
  .service p {
    margin-bottom: 24px;
  }
}
@media (max-width: 475px) {
  .service p {
    font-size: 20px;
  }
}
.service h2 {
  width: 66%;
  font-size: 48px;
  line-height: 120%;
}
@media (max-width: 900px) {
  .service h2 {
    font-size: 40px;
    width: 80%;
  }
}
@media (max-width: 475px) {
  .service h2 {
    font-size: 32px;
    width: 100%;
    letter-spacing: 2px;
  }
}
.service-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 900px) {
  .service-card {
    flex-wrap: wrap;
  }
}
.service-card li {
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #525252;
  padding: 80px 40px;
  border-radius: 16px;
  margin-right: 24px;
}
@media (max-width: 900px) {
  .service-card li {
    width: 40%;
    padding: 40px 20px;
    margin-right: 1%;
    margin-bottom: 20px;
  }
}
@media (max-width: 475px) {
  .service-card li {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
.service-card li img {
  width: 100px;
  display: block;
  margin-bottom: 20px;
  -o-object-fit: none;
     object-fit: none;
}
.service-card li h2 {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 20px;
}
.service-card li p {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 475px) {
  .service {
    margin-bottom: 120px;
  }
}

.partner {
  margin-bottom: 80px;
}
@media (max-width: 475px) {
  .partner {
    margin-bottom: 24px;
  }
}
.partner h2 {
  font-size: 32px;
  line-height: 120%;
}
@media (max-width: 475px) {
  .partner h2 {
    font-size: 20px;
  }
}

.partner-logo {
  margin-bottom: 160px;
}
.partner-logo .row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}
.partner-logo .row::after, .partner-logo .row::before {
  content: "";
  position: sticky;
  width: 196px;
  height: 40px;
  top: 0;
}
.partner-logo .row::before {
  left: 0;
  padding-right: 196px;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
@media (max-width: 475px) {
  .partner-logo .row::before {
    left: -12px;
  }
}
.partner-logo .row::after {
  right: 0;
  padding-left: 196px;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  transform: rotate(-180deg);
}
@media (max-width: 475px) {
  .partner-logo .row::after {
    right: -12px;
  }
}
.partner-logo .row::-webkit-scrollbar {
  display: none;
}
.partner-logo .row img {
  display: block;
  width: 160px;
  height: 40px;
  max-width: initial;
}
@media (max-width: 475px) {
  .partner-logo .row {
    margin-bottom: 12px;
  }
}

.swiper {
  margin-top: 160px;
}
@media (max-width: 475px) {
  .swiper {
    margin-top: 48px;
  }
}

.slide-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 28px;
}
.slide-card .star {
  margin-bottom: 22px;
}
.slide-card .star ul {
  display: flex;
}
.slide-card .star img {
  margin-right: 6px;
}
.slide-card .comment p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.slide-card .commenter {
  display: flex;
}
.slide-card .commenter-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
}
.slide-card .commenter-info h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.slide-card .commenter-info p {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}
@media (max-width: 475px) {
  .slide-card .commenter {
    margin-top: 20px;
  }
}

.swiper-pagination {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-inactive-color: #fff;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  transform: translate(0%, 10%);
}

.container-white {
  background-color: #fff;
  color: #000;
  border-radius: 160px;
  margin-bottom: 160px;
}
@media (max-width: 900px) {
  .container-white {
    border-radius: 50px;
  }
}
@media (max-width: 475px) {
  .container-white {
    border-radius: 20px;
  }
}

.main {
  padding: 0px 12px;
  max-width: 1296px;
  margin: 0 auto;
  text-align: center;
}
.main h2 {
  display: inline-block;
  font-size: 80px;
  text-align: center;
  line-height: 120%;
  font-weight: 900;
  padding-top: 160px;
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  .main h2 {
    font-size: 56px;
  }
}
@media (max-width: 475px) {
  .main h2 {
    font-size: 32px;
    width: 280px;
    padding-top: 80px;
  }
}
.main .search-bar {
  margin-bottom: 24px;
  position: relative;
}
.main .search-bar input {
  width: calc(100% - 76px);
  padding: 20px 0px 20px 76px;
  background-color: #f2f2f2;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 150%;
}
.main .search-bar input:focus, .main .search-bar input:active {
  outline: none;
  border: none;
}
.main .search-bar img {
  position: absolute;
  top: 23px;
  left: 43px;
  width: 17.5px;
  height: auto;
}
.main .filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 475px) {
  .main .filter {
    flex-wrap: wrap;
  }
}
.main .filter-category {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
  color: #919191;
}
@media (max-width: 475px) {
  .main .filter-category {
    order: 3;
    white-space: nowrap;
    overflow-x: scroll;
  }
}
.main .filter-category li {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 8px 16px;
}
.main .filter-category li:hover, .main .filter-category li:active {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 16px;
  font-weight: 700;
}
@media (max-width: 475px) {
  .main .filter .button-1 {
    order: 1;
  }
}
@media (max-width: 475px) {
  .main .filter .button-2 {
    order: 2;
  }
}
.main .filter button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 900px) {
  .main .filter button {
    padding: 10px;
  }
}
@media (max-width: 475px) {
  .main .filter button {
    padding: 20px 36px 20px 40px;
  }
}
.main .filter .material-icons {
  font-size: 10px;
  padding-left: 14px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-text-align-last: left;
       text-align-last: left;
}

.card {
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  width: 31%;
  margin-bottom: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .card {
    width: 48%;
    margin-bottom: 12px;
  }
}
@media (max-width: 475px) {
  .card {
    width: 100%;
  }
}
.card .image {
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition-duration: 1.5s;
}
.card:hover img {
  transform: scale(1.2);
}
.card-body {
  padding: 20px 32px;
  border-top: 1px solid #f2f2f2;
}
.card-body h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 12px;
}
.card-body p {
  color: #525252;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.card .descript {
  flex-grow: 1;
}
.card .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .author h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.card .author span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.card .author a {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/icons/share.png");
  background-size: contain;
}

.page {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 160px;
}
@media (max-width: 475px) {
  .page {
    padding-bottom: 80px;
  }
}
.page li {
  margin-left: 4px;
}
.page li a {
  display: block;
  width: 48px;
  height: 48px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #020202;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
}
.page li a:hover, .page li a.active {
  background-color: #020202;
  color: #fff;
  border-radius: 16px;
}

.use-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}
.use-service h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .use-service h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
  }
}
@media (max-width: 475px) {
  .use-service h3 {
    text-align: center;
    width: 224px;
  }
}
.use-service button {
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  background-color: #000;
  padding: 20px 40px 20px 40px;
  border-radius: 16px;
  border: 2px solid #fff;
  color: #fff;
}
.use-service button:hover {
  background-color: #202020;
}
.use-service button:active {
  background-color: #000;
}
.use-service .material-icons {
  font-size: 20px;
  padding-left: 16px;
}

.site-map {
  border: solid #fff;
  border-width: 1px 0px;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .site-map {
    flex-direction: column;
  }
}
.site-map h2 {
  font-weight: 900;
  font-size: 80px;
  line-height: 120%;
}
@media (max-width: 900px) {
  .site-map h2 {
    font-size: 48px;
  }
}
@media (max-width: 475px) {
  .site-map h2 {
    order: 2;
    margin-bottom: 8px;
  }
}
.site-map h2 a {
  text-decoration: none;
  color: #fff;
}
.site-map img {
  display: block;
  width: 245px;
  height: 40px;
}
@media (max-width: 475px) {
  .site-map img {
    order: 1;
    margin-bottom: 40px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}
@media (max-width: 475px) {
  .footer {
    position: relative;
  }
}
.footer .copyright-sns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .footer .copyright-sns {
    flex-direction: column;
    overflow: visible;
  }
}
.footer .copyright-sns p {
  margin-right: 100px;
}
@media (max-width: 900px) {
  .footer .copyright-sns p {
    margin-right: 10px;
  }
}
@media (max-width: 475px) {
  .footer .copyright-sns p {
    margin-right: 0;
    margin-bottom: 38px;
  }
}
.footer .sns {
  display: flex;
  justify-content: space-between;
}
.footer .sns li {
  margin-left: 20px;
}
@media (max-width: 475px) {
  .footer .sns li {
    margin-left: 0;
    margin-right: 20px;
  }
}
.footer a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.footer a .material-icons {
  font-size: 14px;
  padding-left: 14px;
}
@media (max-width: 475px) {
  .footer a.back_to_top {
    position: absolute;
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */